AWS_REGION=us-east-1
CONNECT_INSTANCE_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
CONNECT_CONTACT_FLOW_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
OUTBOUND_SOURCE_PHONE_NUMBER=+12065550100
OUTBOUND_DESTINATION_PHONE_NUMBER=+12065550101
DYNAMODB_TABLE_NAME=connect_data
